caller/config/vapi-blueprints/vapi-to-gsheet-updater.json
{
    "name": "Integration Webhooks",
    "flow": [
        {
            "id": 6,
            "module": "vapi:listCalls",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5461855
            },
            "mapper": {
                "limit": "10",
                "assistantId": "b3b5533c-04e4-4c9b-913b-1b1d93bab270",
                "phoneNumberId": "0824e59f-9c37-42ea-8e93-ef13d040484c"
            },
            "metadata": {
                "designer": {
                    "x": -168,
                    "y": 101
                },
                "restore": {
                    "expect": {
                        "assistantId": {
                            "mode": "chose",
                            "label": "Riley"
                        },
                        "phoneNumberId": {
                            "mode": "chose",
                            "label": "LA Number"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "vapi"
                            },
                            "label": "Vapi Listener"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:vapi",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistan"
                    },
                    {
                        "name": "phoneNumberId",
                        "type": "select",
                        "label": "Phone Number"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "createdAtGt",
                        "type": "date",
                        "label": "Created Greater "
                    },
                    {
                        "name": "createdAtLt",
                        "type": "date",
                        "label": "Created Less"
                    },
                    {
                        "name": "createdAtGe",
                        "type": "date",
                        "label": "Created Greater or Equal"
                    },
                    {
                        "name": "createdAtLe",
                        "type": "date",
                        "label": "Created Less or Equal"
                    },
                    {
                        "name": "updatedAtGt",
                        "type": "date",
                        "label": "Updated Greater"
                    },
                    {
                        "name": "updatedAtLt",
                        "type": "date",
                        "label": "Updated Less"
                    },
                    {
                        "name": "updatedAtGe",
                        "type": "date",
                        "label": "Updated Greater or Equal"
                    },
                    {
                        "name": "updatedAtLe",
                        "type": "date",
                        "label": "Updated Less or Equal"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "vapi:getCall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5461855
            },
            "mapper": {
                "id": "6e34a1a0-0a27-45e3-991d-75231c3f12f6"
            },
            "metadata": {
                "designer": {
                    "x": 180,
                    "y": 99
                },
                "restore": {
                    "expect": {
                        "id": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "vapi"
                            },
                            "label": "Vapi Listener"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:vapi",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "select",
                        "label": "Call ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5428204
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "from": "drive",
                "spreadsheetId": "/1EJxKtbp65kWMLmXF-nfYURd44H-dtCQS/1DQWtvs4DDWbkVal8LdzGruqfXunpqhQqKeo7dOIS-Ys",
                "sheetId": "Sheet1",
                "rowNumber": "{{6.artifact.variables.rowNumber}}",
                "includesHeaders": true,
                "values": {
                    "0": "{{6.customer.number}}",
                    "1": "{{6.artifact.variables.leadName}}",
                    "2": "{{6.metadata.email}}",
                    "3": "FALSE",
                    "4": "TRUE",
                    "6": "{{5.assistantId}}",
                    "8": "{{5.analysis.summary}}",
                    "9": "{{6.artifact.transcript}}",
                    "10": "{{5.monitor.listenUrl}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 562,
                    "y": 95
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "personal google connection (peb7268@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "sales",
                                "sales-pipeline"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Phone Number (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "leadName (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "email (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "Call (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "First Call Connected (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "(F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "Assistant ID (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "VapiPhoneNumberID (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "(I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "Transcription (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "(K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "(L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "(M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "(N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Phone Number (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "leadName (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "email (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Call (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "First Call Connected (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Assistant ID (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "VapiPhoneNumberID (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Transcription (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}